extends layout

block header
  +css('/css/index.css')
  +css('/css/editor.css')
  style.
    .site-wrapper {
      padding-top: 3em;
    }

block loadFiles
  +js('/vendor/jquery/jquery.tablesorter.js')
  +js('/js/subjectList.js')

block content
  .site-wrapper
    .site-wrapper-inner-center-off
      .cover-container
        include topbar
        .inner.cover.shadow-off
          .inner
            .row
              .col-sm-3.block-center-off
                p.control-panel
                  a.btn.btn-success(href="#{basePath}/subject") 課題の新規作成
              .col-sm-9
                table.table.table-hover(id="allDataTable")
                  thead
                    tr
                    - for(var i = 0; i < tableHead.length; i++){
                      th #{tableHead[i]}
                    - }
                  tbody
                    - for(var i = 0; i < subjects.length; i++){
                      - if(!subjects[i].deleteFlag){
                    tr(id="#{subjects[i].id}")
                      td.subjectInList(id="#{subjects[i].id}") #{subjects[i].name}
                      td.subjectInList(id="#{subjects[i].id}") #{endAts[i]}
                      - }
                    - }
            .mastfoot
              .inner
